.mainContainer {
  background-image: url("../public/bg.jpg");
  background-size: 100% auto;
  background-position: center;
}

@media (max-width: 760px) {
  .mainContainer {
    background-size: auto 100%;
  }
}
